#{extends 'subpage.html' /}
#{set title:'Dan Funk' /}
#{set section:'about' /}

<div id="content_container">
    <h2>Dan Funk</h2>
    <p> <img src="/public/images/dan.jpg" alt="Dan Funk" width="321" height="471" class="float_left" />
        Before co-founding LightCastle Technical Consulting, Dan Funk was Lead Architect for the University of
        Virginia’s Library system, and Senior Web Developer and Manager for Virginia’s own Rosetta Stone. Among
        his professional accomplishments, Dan architected and developed a RESTful web service for library patron
        information accessible by various front-end apps; helped design and grow an online community for language
        learners; hired and managed international teams of developers; served as product owner and scrum master
        for various high-profile product launches. Additionally, Dan Funk led a large-scale XML documentation
        conversion project, and independently designed and implemented several web applications in Java backed
        by an Oracle database. Dan has also contributed to the Open Source Blacklight project, assisting an upgrade to Rails3. </p>

    <p>Dan entertains a budding penchant for origami, an art form that values precision in its building blocks,
        just like quality software development. In Dan’s own words, “both share this odd commonality of pure
        math raised to a form of craftsmanship, where each act must be precise, for the next step to work correctly.
        And at each level the complexity of the system increases exponentially, and the application of repeating
        patterns is the best known way to manage this complexity across both mediums.” Dan works and lives with
        his family in Staunton, Virginia.</p>
</div>
