#{extends 'subpage.html' /}
#{set title:'Fred McDavid' /}
#{set section:'about' /}

<div id="content_container">
    <h2>Fred McDavid</h2>
    <p> <img src="/public/images/fred.jpg" alt="Fred McDavid" width="368" height="491" class="float_right" />
Fred McDavid graduated from with a BS in Computer Science from Radford University in 1996.  After graduating, he built a regional ISP business capitalizing on free and open source software to establish a sound infrastructure that became the foundation for a profitable family business.   His career since has leveraged both the *nix systems administration experience garnered during his year at the ISP and the web development skills he has developed since he discovered the web in 1993 at Radford.    Fred's past domain experience includes oceanography, telecommunications, spatial data and online gis, and the statistical analysis of real estate markets.   Fred also enjoys photography, woodworking, and taking on ambitious improvement projects around his house and cabins at the Chesapeake Bay.</p>
 </div>

</br clear="both">
