#{extends 'subpage.html' /}
#{set title:'Joshua Brown' /}
#{set section:'about' /}

<div id="content_container">
    <h2>Joshua Brown</h2>
    <p> <img src="/public/images/josh.jpg" alt="Josh Brown" width="368" height="491" class="float_left" />
Since he was in high school, Josh has held a sharp interest in technology. His first foray into programming was with HTML; He created a handful of websites (back when geocities was in its heyday) about everything from characters from popular fiction to video games. Also during that time (the late 90s), he hacked on his TI-85 graphing calculator, creating simple text-based games that had little entertainment value.</p>

<p>He pursued a career in journalism and was moderately successful, being employed as a staff writer at multiple newspapers, two of which crested 30,000 circulation rates. He revived his interest in programming after putting Linux (Ubuntu) on his shabby Windows Vista laptop. He was again reminded of how much he enjoyed computer technology, and began delving deeper into the world of programming. The rest, as they say, is history.</p>
 </div>
<br clear="both"/>
