#{extends 'subpage.html' /}
#{set header:'about' /}

<div id="content_container">
    <h2>Tamara Funk</h2>
    <p> <img src="/public/images/tamara.jpg" alt="Tamara Funk" width="368" height="483" class="float_right" />
    Prior to spearheading LightCastle Technical Consulting, Tamara Funk served as the Linux and Unix Systems Administrator at nTelos,
    supporting both the wireless and wired clients for this regional telecommunications company.  Tamara has actively developed business
        cases for new servers and software applications, gathered and synthesized requirements, assessed pricing, and navigated license
        agreements. Tamara’s experience includes installation and upgrade of operating systems, software packages, and third-party
        applications. She’s especially keen on monitoring system performance and server availability, accompanied by key reporting,
        documentation, and notifications. Funk’s proactive, targeted communication with her clients has averted many, many risks. </p>

    <p>In her personal life, Tamara is known to dabble in the biographies and original photos of Amelia Earhart, and she even exchanges
        letters with this Earhart’s descendants. With the bold aviatrix Funk shares the characteristic tenacity and drive of a woman
        thriving in an almost entirely male-dominated field. Tamara resides with her family in the Staunton, Virginia. </p>
 </div>