#{extends 'subpage.html' /}
#{set title:'Tamara Funk' /}
#{set section:'about' /}

<div id="content_container">
    <h2>Tamara Funk</h2>
    <p> <img src="/public/images/tamara.jpg" alt="Tamara Funk" width="368" height="484" class="float_right" />
    Prior to spearheading LightCastle Technical Consulting, Tamara Funk served as the Linux and Unix Systems Administrator at nTelos,
    supporting both the wireless and wireline business for this regional telecommunications company.  Tamara has actively developed business
        cases for new servers and software applications, gathered requirements, assessed pricing, and navigated license
        agreements. Tamara’s experience includes installation and upgrade of operating systems, software packages, and third-party
        applications. She’s especially keen on monitoring system performance and server availability, accompanied by key reporting,
        documentation, and notifications. Tamara’s proactive, targeted communication with the people she supports have averted many risks. </p>

    <p>In her personal life, Tamara is an avid reader and collects orginal photos of Amelia Earhart. With the bold aviatrix she shares the characteristic tenacity and drive of a woman
        thriving in an almost entirely male-dominated field. Tamara resides with her family in the Staunton, Virginia. </p>
 </div>
