#{extends 'subpage.html' /}
#{set title:'Detailed diagrams&mdash;as useful as they are attractive' /}
#{set section:'analysis' /}

<div id="content_container">
    <h2>Detailed diagrams&mdash;as useful as they are attractive</h2>
    <div id="col1">
        <p><img src="/public/images/diagram2.png" style="float:right"/>While working at Rosetta Stone as a Senior Developer and Manager, Dan designed a number
            software architecture diagrams aimed at building consensus around Rosetta Stone’s growing
            web services and clarifying the roles of back-end developers.  Featured before the highest
            levels of leadership and the entire company, Dan’s artifacts helped shape the implementation
            of major projects and helped build a common understanding of project goals.</p>
        #{doc_stories /}
    </div>
    <div id="col2">
    <p><div class="quote"></div><i>Dan is an intuitive manager who knows his people well and does an effective job both motivating and
        providing development opportunities for them. He is also very gifted at collecting and distilling
        complicated ideas (technology infrastructure, organizational issues, project plans, etc.) into
        easily understandable diagrams and documents.”</i></p>
        <b>Andy Harbick</b>, <i>Senior Director, Online Product Development, Rosetta Stone</i>
    </div>
    <div class="clear_both"></div>

</div>