#{extends 'subpage.html' /}
#{set header:'sysadmin' /}



<div id="content_container">
    <div id="col1">
    <h2>Clustering and Server Support</h2>
    <p>Tamara Funk supported both internal and external clients in her 11-year career with nTelos Wireless.
        Her operating system work bolstered an integrated voice response (IVR), the OS underlying the company’s
        customer support phone tree. Additionally, Tamara built a cluster that allows customers to program their
        own phones, and for customer support to provide over-the-air programming services.</p>


    <hr />
    <h3> Other System Administration Success Stories</h3>
    <ul>
        <li><a href="lvl3.html">This is the second bullet list item</a></li>
        <li> <a href="lvl3.html">Bullet list item three</a></li>
        <li> <a href="lvl3.html">This is the fourth bullet item</a></li>
    </ul>
</div>
<div id="col2">
    <p><img src="/public/images/pacemaker.png" width="200" height="88" alt="cactus" /></p>
    <p>Pacemaker is an Open Source, High Availability resource manager suitable for both small and large clusters.  </p>
</div>
<div class="clear_both"></div>



</div>