#{extends 'subpage.html' /}
#{set title:'Server Support and Clustering' /}
#{set section:'sysadmin' /}



<div id="content_container">
    <div id="col1">
    <h2>Server Support and Clustering</h2>
    <p>Tamara Funk supported both internal and external clients in her 11-year career with nTelos.
        Her operating system work bolstered an integrated voice response (IVR), the system underlying the company’s
        customer care phone tree.
        Additionally, Tamara built a cluster that hosted software that linked the IVR and a wireless over-the-air
        provisioning platform, allowing handsets to be programmed by inventory and sales by dialing a number on the handset.
    </p>
    #{sa_stories /}
</div>
<div id="col2">
    <p><img src="/public/images/pacemaker.png" width="200" height="88" alt="cactus" /></p>
    <p>Pacemaker is an Open Source, high availability resource manager suitable for both small and large clusters.  </p>
</div>
<div class="clear_both"></div>



</div>
