#{extends 'subpage.html' /}
#{set title:'Preventing Outages using Open Source Monitoring' /}
#{set section:'sysadmin' /}


<div id="content_container">
    <div id="col1">
        <h2>Preventing Outages using Open Source Monitoring</h2>
        <p> In her own words: Tamara “monitors the heck out of every process or system [she] touches,” especially
        when any sort of failure occurs.</p>
        <p><img src="/public/images/loadbalancing.png" alt="loadbalancing" width="250" height="186" class="float_right" />
        From server load to potential system outages and security breaches,
        Tamara Funk observes the entire matrix of systems to head off problems. And for her customers Funk
        interwove her meticulous monitoring with infrastructural stability&mdash;by insisting that critical
        servers be clustered in order to prevent major system breakdowns. With Nagios&trade; monitoring in place
        and custom plug-in scripts, stakeholders got exceptional visibility through her alerting system.
        Upgrade planning was made easier with Tamara's Cacti scripts and templates that produced graphs
        showing server statistics and impact of applications on the hardware.
        </p>
        #{sa_stories /}
    </div>
    <div id="col2">
        <p><img src="/public/images/cactus.png" width="200" height="228" alt="cactus" /></p>
        <p>Cacti is a complete network graphing solution designed to harness the power of RRDTool’s
        data storage and graphing functionality. Cacti provides a fast poller, advanced graph
        templating, multiple data acquisition methods, and user management features out of the box. All of this
        is wrapped in an intuitive, easy to use interface that makes sense for LANsized installations up to
        complex networks with hundreds of devices. </p>
    </div>
    <div class="clear_both"></div>

</div>
