#{extends 'subpage.html' /}
#{set title:'Detailed, Step by Step Documentation' /}
#{set section:'analysis' /}

<div id="content_container">
    <div id="col1">
    <h2>Clear, Detailed, Step-by-Step Documentation</h2>
    <p> Tamara Funk’s work vastly improved a data center’s best practices  as she tacked a data center in need of electrical work. A series of power-downs were required for the entire data center to upgrade the electrical system.  Having anything go wrong with the systems as they were powered off and brought back up
        would present a less-than-desirable user experience for internal clients. Tamara’s methods of procedure (MOP’s) were
        generated through close communication with her customers and teammates to make sure that nothing was missed.  Linux/Unix
        server power-downs quickly evolved toward an error-free experience due to Tamara’s standardizations.</p>
    #{doc_stories /}
    </div>
    <br clear="both"/>
</div>
