#{extends 'subpage.html' /}
#{set header:'sysadmin' /}

<div id="content_container">
    <h2>Methods of Procedure</h2>
    <p> Tamara Funk’s work vastly improved the nTelos data center’s best practices  as she tackled the direst of
        situations: a data center in need of electrical work and requiring a series of power-downs proved a
        less-than-desirable user experience for internal clients. Funk’s methods of procedure (MOP’s) were
        generated through close communication with her clients to truly understand their perspectives. Linux/Unix
        server power-downs quickly evolved toward an error-free experience due to Tamara’s standardizations.</p>
</div>