#{extends 'subpage.html' /}
#{set title:'Up-to-the-minute Reporting' /}
#{set section:'analysis' /}

<div id="content_container">
<div id="col1">
    <h2>Up-to-the-minute Reporting</h2>
    <p> While working towards upgrading the billing mediation system, Tamara was able to utilize her previous performance
        monitoring and reporting. </p>
	<p><img src="/public/images/loadbalancing.png" alt="loadbalancing" width="250" height="186" class="float_right" />Calling upon Cacti data with graphs going back years, Tamara was able to provide specs for the new system that would meet the needs of the business as the amount of billing data it collected grew. </p>
    #{doc_stories /}
</div>
<div id="col2">
        <p><img src="/public/images/cactus.png" width="200" height="228" alt="cactus" /></p>
        <p>Cacti is a complete network graphing solution designed to harness the power of RRDTool’s
        data storage and graphing functionality. Cacti provides a fast poller, advanced graph
        templating, multiple data acquisition methods, and user management features out of the box. All of this
        is wrapped in an intuitive, easy to use interface that makes sense for LANsized installations up to
        complex networks with hundreds of devices. </p>
    </div>
<div class="clear_both"></div>
</div>
