#{extends 'subpage.html' /}
#{set header:'analysis' /}

<div id="content_container">
    <h2>Reporting</h2>
    <p> Towards a successfully upgraded billing mediation system, Tamara offered up her previous
        monitoring and reporting. Having monitored the software applications’ performance, utilization
        of hardware, and calling upon Cacti graphs going back years, Tamara was able to provide
        appropriate specs for CPU utilizations. .</p>

    <hr />
    <h3> Other Analysis and Documentation Success Stories</h3>
    #{doc_stories /}

</div>