#{extends 'subpage.html' /}
#{set header:'webdev' /}

<div id="content_container">
    <h2>Ruby on Rails</h2>
    <div id="col1">
    <p>Project Blacklight, a Ruby on Rails application originally developed to provide an interface to University of Virginia’s
        online library catalog, is now used around the world by celebrity institutions such as Stanford University, Johns Hopkins, 
        and the Rock and Roll Hall of Fame.  Yet Rails wasn’t always considered so glamorous. Many libraries resisted the complex 
        upgrade to Rails 3 because it would not run within their existing infrastructures (largely Java Servlet engines). Against 
        the grain at that time, Dan Funk wouldn’t let this challenge stymie his involvement in the project.</p>
    <p>Coinciding with the release of Ruby language version 1.9.2, Dan initiated the upgrade of Blacklight by forking the project
        on GitHub, a best practice when introducing a change to an existing open source project.  This approach quickly paid off as
        Dan was admitted as a core Blacklight contributor.  Blacklight now uses the Rails 3 framework, and is installable as a Ruby
        Gem. Blacklight can run effectively in both Ruby 1.8.7 and Ruby 1.9.2, and can be deployed for the first time in a Java Servlet
        context.  Additionally, Funk helped set up the Continuous Integration environment for the project--and created scripts that
        would fully test the software across the matrix of these environments. </p>
        <hr />
        <h3> Other System Administration Success Stories</h3>
        #{wd_stories /}
    </div>
    <div id="col2">
        <p>“Dan Funk is a joy to have as a project contributor. Last year, Blacklight (http://projectblacklight.org) needed to
        upgrade from Rails 2 to Rails 3 and needed significant re-architecting in order to make that transition. Dan stepped up,
        not just with the skills we needed, but also with the vision and leadership it took to make the upgrade happen, even under
        challenging conditions and with a diverse team to coordinate. I've tried to hire him, but he won't move to California.</p>
        <p>I coordinate a team of software developers (mostly ruby, some java, some XSLT) for Stanford University Libraries. Even though
        we do a good job paying market rates (and we're in Silicon Valley!) we have trouble recruiting for our really key positions. 
        Someone who can get deep enough into things to re-organize our architecture, and really do it right? But [Dan] can also communicate 
        with the rest of the team and keep us all working well together during the transition? And now he has a consulting company so
        I can bring him in on my other projects too? That's good to know.” </p>
        --Bess Sadler, Co-founder, projectblacklight.org
    </div>
    <div class="clear_both"></div>


</div>
