#{extends 'subpage.html' /}
#{set title:'Custom Ruby Web Development and Enhancement' /}
#{set section:'webdev' /}


<div id="content_container">
    <h2>Custom Ruby Web Development and Enhancement</h2>
    <div id="col1">
    <p>Project Blacklight, a Ruby on Rails&trade; application originally developed to provide an interface to University of Virginia’s
        online library catalog, is now used around the world by celebrity institutions such as Stanford University, Johns Hopkins, 
        and the Rock and Roll Hall of Fame.  Yet Rails&trade; wasn’t always considered so glamorous. Many libraries resisted the complex
        upgrade to Rails&trade; 3 because it would not run within their existing infrastructures (largely Java Servlet engines). Against
        the grain at that time, Dan Funk wouldn’t let this challenge stymie his involvement in the project.</p>
    <p><img src="/public/images/ruby.png" style="float:right"/>Coinciding with the release of Ruby language version 1.9.2, Dan initiated
        the upgrade of Blacklight by forking the project
        on GitHub, a best practice when introducing a change to an existing open source project.  This approach quickly paid off as
        Dan was admitted as a core Blacklight contributor.  Blacklight now uses the Rails&trade; 3 framework, and is installable as a Ruby
        Gem. Blacklight can run effectively in both Ruby 1.8.7 and Ruby 1.9.2, and can be deployed for the first time in a Java Servlet
        context.  Additionally, Funk helped set up the Continuous Integration environment for the project--and created scripts that
        would fully test the software across the matrix of these environments. </p>
       #{wd_stories /}
    </div>
    <div id="col2">
        <p><div class="quote"></div><i>Dan Funk is a joy to have as a project contributor. Last year,
        <a href="http://projectblacklight.org" target="new">Blacklight</a> needed to
        upgrade from Rails&trade; 2 to Rails&trade; 3 and needed significant re-architecting in order to make that transition. Dan stepped up,
        not just with the skills we needed, but also with the vision and leadership it took to make the upgrade happen, even under
        challenging conditions and with a diverse team to coordinate."</i></p>
        <b>Bess Sadler</b> <i>Co-founder, projectblacklight.org</i>

    </div>
    <div class="clear_both"></div>


</div>
