#{extends 'subpage.html' /}
#{set title:'Information Architecture with Solr and Lucene' /}
#{set section:'webdev' /}

<div id="content_container">
    <h2>Information Architecture with Solr and Lucene</h2>
    <div id="col1">
         <p>Working as a Principal Research Scientist at Battelle Memorial Institute, Developer Dan Funk revamped a
            search engine for a large collection of research documents which had been exhibiting speed and
            scalability issues. Using the Apache Lucene™ library, Dan developed
            a powerful, full-text search engine, and OCR (optical character recognition) workflow process
            to create a polished, accessable, and intuitive interface to a large body of government documents.
            Ultimately all search times were reduced to a few milliseconds, some from a previous high of as much as 30
            seconds. While the previous system had to be run on large-scale servers, the new search system could
            comfortably run on a portable device.</p>
        <p><img src="/public/images/solr.png" style="float:left"/> Solr is an open source search platform&mdash;imagine your own custom search engine&mdash;just as fast
            and intuitive as Google, but configured to do exactly what you want, and to search only the content that interests you.  Solr provides hit highlighting and faceted search, on top
            of the phenomenally fast Lucene full-text search library.  Solr scales. Dynamic clusters, distributed search, and index replication mean you will not
            outgrow its capabilities.</p>
        #{wd_stories /}
    </div>
    <div id="col2">
        <p><div class="quote"></div><i>Dan Funk led a technical team that reinvented an aging product.  Dan demonstrated innovation and leadership in designing an
            information search and discovery architecture with the latest technologies that our client thought was absolutely fantastic.
            Several years later, that system is still going strong and is widely used by government analysts working on national security issues.”</i></p>
        <b>Sue Rowell</b>, <i>PMP, Battelle Memorial Institute</i>
    </div>
    <div class="clear_both"></div>

</div>

