#{extends 'subpage.html' /}
#{set header:'webdev' /}

<div id="content_container">
    <h2>Success Story: Solr™ Lucene</h2>
    <div id="col1">
        <p>Working as a Principal Research Scientist at Battelle Memorial Institute, Developer Dan Funk revamped a
            search engine for a large collection of research documents. Using the Apache Lucene™ library, Funk developed
            a powerful, full-text search engine. Dan additionally defined an OCR (optical character recognition) workflow
            process that could quickly produce very high quality, QA’d output while generating a custom XML format that
            allowed for fine-tuned search results. Ultimately search time was reduced from as much as 30 seconds to
            just a few milliseconds. And where the previous system had already been encountering scalability issues on
            large-scale servers, the new search system could comfortably run on a portable device.</p>
        <hr />
        <h3> Other Software Development Success Stories</h3>
        #{wd_stories /}
    </div>
    <div id="col2">
        <p>“Dan Funk led a technical team that reinvented an aging product.  Dan demonstrated innovation and leadership in designing an
            information search and discovery architecture with the latest technologies that our client thought was absolutely fantastic.
            Several years later, that system is still going strong and is widely used by government analysts working on national security issues.”</p>
        --Sue Rowell, PMP, Battelle Memorial Institute
    </div>
    <div class="clear_both"></div>

</div>

