#{extends 'subpage.html' /}
#{set title:'Testing for Success' /}
#{set section:'sysadmin' /}

<div id="content_container">
    <div id="col1">
    <h2>Testing for Success</h2>
    <p>When Tamara set up servers and operating systems for nTelos’ software developers, these internal clients
        were able to hit the ground running with the exact infrastructure they needed—thanks to Tamara’s acceptance
        testing and preemptive communication. All possible use cases had been heavily tested, be it snagged cables,
        software “failures” or the rigorous testing of clusters. She takes the time to understand her client’s needs
        inside and out.</p>
    #{sa_stories /}
    </div>
    <br clear="both"/>
</div>