#{extends 'subpage.html' /}
#{set title:'XML and XSLT' /}
#{set section:'webdev' /}

<div id="content_container" xmlns="http://www.w3.org/1999/html">
    <h2>XML And XSLT</h2>
    <div id="col1">
        <p><img src="/public/images/chrysalis.jpg" alt="servers" width="300" height="200" class="float_right" />
            Silverchair brought in LightCastle initially to assist in a data migration project where data from an existing
            system needed to be transformed and ingested into the Silverchair publishing platform. The LightCastle team wrote
            an RoR and XSLT application to enable Silverchair to migrate many thousands of pages of academic journal content
            to the Silverchair platform. LightCastle then refactored Silverchair’s existing XSLT that had been developed
            in the past to migrate multiple prior customers. LightCastle modularized this code and built an XSLT library
            for Silverchair that could be used going forward and that would reduce the costs of both maintenance of existing
            customers and of implementation of new customers on the platform. LightCastle also made recommendations for
            improving data quality and for implementing better quality processes as the platform is further developed.</p>
        #{wd_stories /}
    </div>
    <div id="col2">
        <p><div class="quote"></div><i>
        LightCastle’s recommendations were spot-on and helped us set a direction for moving forward
        more effectively and efficiently, with higher quality results."</i></p>
        <b>Leigh Gordon</b>, <i>Director Content Engineering, SilverChair Information Systems</i>
    </div>
    <div class="clear_both"></div>

</div>

