#{extends 'subpage.html' /}
#{set title:'Dublin Core and Blacklight with UVA' /}
#{set section:'webdev' /}

<div id="content_container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <h2>Dublin Core and Blacklight</h2>
    <div id="col1">
        <p>
        The Scripps Library at the University of Virginia needed help standing up a new Blacklight instance and to
            transform a set of documents in various XML formats into Dublin Core, a common meta-data standard.</p>

        <p><img src="/public/images/uva.gif" alt="servers" width="290" height="193" class="float_right" />
        LightCastle provided a suite of XSLT transformations to convert from non-standard formats to Dublin Core.  In addition,
        LightCastle assured that the XSLT's were easily viewable and adjustable in the Oxygen XML/XSLT editor so that the Scripps
        library could easily maintain these transformations on their own as new content arrived.  Finally, LightCastle imported
        the final XML documents into Blacklight and tested the content in its final destination to assure that the Libraries would not
        encounter any surprises after the work was completed.</p>
            #{wd_stories /}
    </div>
    <div id="col2">
        <p><div class="quote"></div><i>
        We contacted LightCastle to help us with a piece of a larger project that we had not anticipated needing.
        Not only did they respond quickly, but they were so knowledgeable about the technology that they were able to
        tell us what we needed! We would absolutely work with them again."</i></p>
        <b>Sheila Blackford</b>, <i>Librarian, Scripps Library; Managing Editor, American President; Miller Center, University of Virginia</i>
    </div>
    <div class="clear_both"></div>

</div>

