<hr />
<h3>Analysis and Documentation Success Stories</h3>
<ul class="stories">
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.architecture()} Detailed diagrams&mdash;as useful as they are attractive #{/lc.menuItem}</li>
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.reporting()} Up-to-the-minute reporting #{/lc.menuItem}</li>
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.mops()} Clear, detailed step-by-step documentation #{/lc.menuItem}</li>
</ul>
