<hr />
<h3>System Administration Success Stories</h3>
<ul class="stories">
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.monitoring()} Preventing Outages using Open Source Monitoring #{/lc.menuItem}</li>
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.clustering()} Server Support and Clustering #{/lc.menuItem}</li>
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.testing()} Testing for Success #{/lc.menuItem}</li>
</ul>
