<hr />
<h3>Software Development Success Stories</h3>
<ul class="stories">
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.ruby()} Custom Ruby Web Development and Enhancement #{/lc.menuItem}</li>
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.solr()} Information Architecture with Solr and Lucene #{/lc.menuItem}</li>
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.xslt()} XML Transformations for SilverChair #{/lc.menuItem}</li>
    <li>#{lc.menuItem class:'storyLink', activeStyle:'current', action:@Stories.xslt2()} Dublin Core and Blacklight at UVA #{/lc.menuItem}</li>
</ul>
