#{extends 'subpage.html' /}
#{set title:'About LightCastle' /}
#{set section:'about' /}


<div id="content_container">
    <h2>A Little About Us</h2>
    <p>
        <div class="image_wrapper">
            <img src="/public/images/staunton.jpg" alt="Downtown Staunton, Virginia - photo by Fred McDavid" width="400" height="400"/>
            LightCastle is located in beautiful downtown Staunton, Virginia. <br/>Photo by Fred McDavid
        </div>

            LightCastle Technical Consulting was founded in the spirit of developing and supporting Open Source technologies,
            as we create solutions for fellow technical teams. We delight in making computers do useful, whimsical things. 
            But we share your pragmatic approach to technological solutions that expedite business goals.</p>
    <h3>Learn more about our Principals:</h3>
    <ul>
        <li><a href="@{People.tamara()}">Tamara Funk</a></li>
        <li><a href="@{People.dan()}">Dan Funk</a></li>
        <li><a href="@{People.fred()}">Fred McDavid</a></li>
        <li><a href="@{People.josh()}">Josh Brown</a></li>
    </ul>
    <h3>Why LightCastle as our moniker?</h3>
    <p>The New Point Lighthouse located on the wispy Chesapeake Bay has stood resolutely
            against the salty, Atlantic winds since 1805. Its presence has guided many seafarers to and from one of the United 
            States’ largest ports. These parts of Virginia are a frequented vacation spot for founding team members and family, 
            including 5-year-old Jonah. After one summer get-away, Jonah independently conjured up the concept of the 
            <ital>LightCastle,</ital> fusing the characteristics of churches, castles and lighthouses into one magical place. 
            In his “LightCastle” Jonah keeps items of longing and imagination, such as motorbikes, airplanes, and jet packs. 
            The LightCastle remains persistent in the child’s storytelling and whimsical play.

        <p>The idea of a LightCastle really sparks our imagination&mdash;it's a place where ideas are born and ventures are manifest.
            Lighthouses are highly technical, intuitively useful, and yet they invoke a sense of fantasy, magic, and vision.</p>

        <p>Our team of professionals offers a portfolio of experience in both up-and-coming regional businesses, as well as
            established international companies. LightCastle is steadfast in supporting your IT and software development needs.</p>

</div>
