#{extends 'subpage.html' /}
#{set title:'Analysis and Documentation' /}
#{set section:'analysis' /}
#{set 'quote'}
<p>"... [Dan is] very gifted at collecting and distilling complicated ideas
    (technology infrastructure, organizational issues, project plans, etc.) into
    easily understandable diagrams and documents."</p>
<div class="source"><b>Andy Harbick</b>, <i>Senior Director, Rosetta Stone</i></div>
#{/}

<div id="content_container">
    <h2>Accountability. Brevity. Clarity.</h2>
    <p><img src="/public/images/diagram.png" alt="diagram" width="368" height="365" class="float_right" />
        With exceptional analysis and documentation that accompanies our services, we ease the minds of our
        non-technical clientele and craft the right amount of detail for fellow IT professionals. For us,
        great documentation means effectively sharing complex, technical solutions that our clients will
        easily understand&mdash;and later utilize.</p>

    <h3>Documentation Offerings</h3>
    <ul>
        <li>Methods of Procedure (MOP’s)</li>
        <li>Acceptance Test Plans</li>
        <li>User Acceptance Criteria</li>
        <li>Cheat Sheets and User Assistance for New Systems</li>
        <li>Custom Notification Scripts</li>
        <li>Security Logs and Data Templates</li>
        <li>Performance and Availability Graphs</li>
        <li>Notifications of System Problems</li>
        <li>Detailed or High-level Diagrams</li>
    </ul>
    #{doc_stories /}
</div>