#{extends 'subpage.html' /}
#{set header:'Technical Analysis' /}
#{set section:'analysis' /}


<div id="content_container">
    <h2>Accountability. Brevity. Clarity.</h2>
    <p><img src="/public/images/diagram.png" alt="diagram" width="368" height="365" class="float_right" />
        With exceptional analysis and documentation that accompanies our services, we ease the minds of our
        non-technical clientele and craft the right amount of detail for fellow IT professionals. For us,
        great documentation means effectively sharing complex, technical solutions that our clients will
        easily understand--and later utilize.</p>

    <ul>
        <li>Documentation Offerings</li>
        <li>Methods of Procedure (MOP’s)</li>
        <li>Acceptance Test Plans</li>
        <li>User Acceptance Criteria</li>
        <li>Cheat Sheets and User Assistance for New Systems</li>
        <li>Custom Notification Scripts</li>
        <li>Security Logs and Data Templates</li>
        <li>Performance and Availability Graphs</li>
        <li>Notifications of System Problems</li>
        <li>Detailed or High-level Diagrams</li>
    </ul>

    <p>Don’t take our word for it. Let our success stories do the talking.</p>
    #{doc_stories /}
</div>