#{extends 'subpage.html' /}
#{set title:'Contact Us' /}
#{set section:'contact' /}

#{set 'moreScripts'}
    #{stylesheet id:'contactstype', src:'contact.css'/}
#{/set}

<div id="content_container">
    <h2>Email us using the form below, or give us a call</h2>
    <div id="col1">
            <form id="contact-form" method="post" action="@{Application.sendMessage()}">
                <fieldset>
                    <label for="name">Name:</label><input type="text" name="name" id="name"  placeholder="John Smith" required="required" class="text ui-widget-content ui-corner-all" />
                    <label for="email">Email:</label><input type="text" name="email" id="Email" placeholder="john@smiths.org" required="required" value="" class="text ui-widget-content ui-corner-all" />
                    <label for="message">Message:</label><textarea name="message" id="message" placeholder="Please type your message" required="required" cols="60" rows="6" class="ui-widget-content ui-corner-all"></textarea>
                </fieldset>
                <input type="submit" value="send" id="email_button"/>
            </form>
    </div>
    <div id="col2">
        <div class="address">
            <b>540-324-5111</b> <br/>
            PO Box 1906<br/>
            Staunton, Va 24402
        </div>
    </div>
    <img src="/public/images/location.png" alt="virginia map" width="400" height="154" class="float_right" />
    <div class="clear_both"></div>
</div>
