#{extends 'subpage.html' /}
#{set title:'Contact Us' /}
#{set section:'contact' /}

#{set 'moreScripts'}
    #{stylesheet id:'contactstype', src:'contact.css'/}
#{/set}

<div id="content_container">
    <h2>Email us using the form below, or give us a call</h2>
    <div id="col1">
            <form id="contact-form" method="post" action="@{Application.sendMessage()}">
                <fieldset>
                    <label for="name">Name:</label><input type="text" name="name" id="name"  placeholder="John Smith" required="required" class="text ui-widget-content ui-corner-all" />
                    <label for="email">Email:</label><input type="text" name="email" id="Email" placeholder="john@smiths.org" required="required" value="" class="text ui-widget-content ui-corner-all" />
                    <label for="message">Message:</label><textarea name="message" id="message" placeholder="Please type your message" required="required" cols="60" rows="6" class="ui-widget-content ui-corner-all"></textarea>
                </fieldset>
                <input type="submit" value="send" id="email_button"/>
            </form>
    </div>
    <div id="col2">
        <div class="address">
            <b>Phone Number:</b><br/>
            540-324-5111</b>
        </div>
        <div class="address">
            <b>Physical Address:</b> <br/>
            21 Middlebrook Ave.<br/>
            Staunton, Va 24401
        </div>
        <div class="address">
             <b>Mailing Address:</b> </br>
             PO Box 1906<br/>
             Staunton, Va 24402
        </div>
    </div>
    <br clear="all"/>
    <div id="map">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=21+Middlebrook+Ave,+Staunton,+VA&amp;aq=0&amp;oq=21+middle&amp;sll=38.159275,-79.06291&amp;sspn=0.107172,0.264187&amp;ie=UTF8&amp;hq=&amp;hnear=21+Middlebrook+Ave,+Staunton,+Virginia+24401&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=21+Middlebrook+Ave,+Staunton,+VA&amp;aq=0&amp;oq=21+middle&amp;sll=38.159275,-79.06291&amp;sspn=0.107172,0.264187&amp;ie=UTF8&amp;hq=&amp;hnear=21+Middlebrook+Ave,+Staunton,+Virginia+24401&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
    <div class="clear_both"></div>
</div>
