#{extends 'subpage.html' /}
#{set title:'Contact Us' /}
#{set section:'contact' /}

<div id="content_container">
    <h2>Thank you.</h2>
    <div id="col1">
        <p>We have received your message, and will be in contact with you shortly. </p>
    </div>
    <div id="col2">
        <p class="validateTips"></p>
        <div class="address">
            <b>540-324-5111</b> <br/>
            PO Box 1906<br/>
            Staunton, Va 24402
        </div>
    </div>
    <div class="clear_both"></div>
</div>
