#{extends 'subpage.html' /}
#{set title:'Linux System Administration' /}
#{set section:'sysadmin' /}


<div id="content_container">
    <h2>Systems You Can Count On.</h2>
    <p> <img src="/public/images/servers.png" alt="servers" width="368" height="244" class="float_right" />
        We offer comprehensive support for your Linux systems, including variations of Unix. Services not only imply
        software installation, but also extend to system monitoring, security patching, and constructing clustered,
        high-availability hardware and supporting software. With tools like Nagios&trade;, Cacti, and OSSEC, we offer
        steadfast application monitoring and useful documentation, building cost-efficient, high-availability systems&mdash;so
        you can focus on your business goals.
    </p>

    <h3>System Administration Services</h3>
    <ul>
        <li>Linux/Unix System Administration</li>
        <li>High-Availability Server Support</li>
        <li>System Monitoring and Reporting</li>
        <li>Security and Vulnerability Analysis</li>
        <li>Cloud Computing Expertise</li>
        <li>Acceptance Test Plan Writing</li>
        <li>Documentation and High-Touch Communication</li>
        <li>Supporting Software</li>
    </ul>
    #{sa_stories /}
</div>

