#{extends 'subpage.html' /}
#{set title:'Custom Web Development in Ruby and Java' /}
#{set section:'webdev' /}
#{set 'quote'}
<p>"... Dan demonstrated innovation and leadership in designing an
information search and discovery architecture with the latest
technologies that our client thought was absolutely fantastic."</p>
<div class="source"><b>Sue Rowell</b>, <i>PMP, Battelle Memorial Institute</i></div>
#{/}

<div id="content_container">
    <h2>Our Craft, Your Ideas. One Solid Solution.</h2>
    <p> <img src="/public/images/birds.jpg" alt="web development" width="368" height="406" class="float_right" />
        We provide custom software development using leading technologies, currently focusing on Ruby on Rails
        and the Google Web Toolkit. We’re passionate about providing your applications with full-search functionality,
        piggybacking Solr and Lucene technologies. Your internationalization and e-commerce needs certainly won’t
        be forsaken. And we’ll usher your existing applications onto mobile platforms and assist in creating your
        online communities. We build open source solutions and software; what we deliver belongs to you.
    </p>
    <h3>Advanced Web Development Services</h3>
    <ul>
       <li>Java Programming</li>
       <li>Google Web Toolkit</li>
       <li>Ruby on Rails&trade; Development</li>
       <li>Full-Text Search Functionality</li>
       <li>Mobile Integration</li>
       <li>Online Community Sites</li>
       <li>Internationalization and e-Commerce Expertise</li>
    </ul>

    <h3>The Method to our Madness</h3>
    <p>We’re mad about Agile development as a philosophy and a pragmatic approach to software development projects.
        Let’s face it--things change. Ideas and strategies evolve, requirements morph, and technology offers unexpected
        results. So that’s why we’re committed to remaining nimble as we provide you visibility into each iteration
        of development, collaborating on your ideas.</p>
    #{wd_stories /}

</div>