#{extends 'subpage.html' /}
#{set header:'webdev' /}

<div id="content_container">
    <h2>Our Craft, Your Ideas. One Solid Solution.</h2>
    <p> <img src="/public/images/birds.jpg" alt="web development" width="368" height="406" class="float_right" />
        We provide custom software development using leading technologies, currently focusing on Ruby on Rails
        and the Google Web Toolkit. We’re passionate about providing your applications with full-search functionality,
        piggybacking Solr and Lucene technologies. Your internationalization and e-commerce needs certainly won’t
        be forsaken. And we’ll usher your existing applications onto mobile platforms and assist in creating your
        online communities. We build open source solutions and software; what we deliver belongs to you.
    </p>
    <ul>
       <li>Advanced Web Development Services</li>
       <li>Java Programming</li>
       <li>Google Web Toolkit</li>
       <li>Ruby on Rails Development</li>
       <li>Full-Text Search Functionality</li>
       <li>Mobile Integration</li>
       <li>Online Community Sites</li>
       <li>Internationalization and e-Commerce Expertise</li>
    </ul>

    <h2>The Method to our Madness</h2>
    <p>We’re mad about Agile development as a philosophy and a pragmatic approach to software development projects.
        Let’s face it--things change. Ideas and strategies evolve, requirements morph, and technology offers unexpected
        results. So that’s why we’re committed to remaining nimble as we provide you visibility into each iteration
        of development, collaborating on your ideas.</p>


    <h2>Don’t miss our portfolio of success stories.</h2>
    #{wd_stories /}

</div>